@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a:link {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  font-family: "微軟正黑體"; }

html {
  width: 100%;
  height: 100%;
  font-family: "微軟正黑體";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeeeee; }

header {
  width: 100%;
  height: 55px;
  background: #c88d4b;
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px gray;
  box-shadow: 0px 0px 10px gray; }
  header article {
    max-width: 960px;
    height: 55px;
    margin: 0px auto; }
    header article::before {
      content: "";
      position: absolute;
      width: 195px;
      height: 110px;
      background: #c88d4b;
      border-radius: 50%;
      z-index: -1; }
    header article .logo {
      width: 168px;
      height: 95px;
      background: url("../images/logo.png") no-repeat bottom center;
      margin-left: 20px;
      float: left; }
    header article ul {
      float: left;
      margin-left: 40px; }
      header article ul li {
        float: left;
        height: 55px;
        overflow: hidden;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
        header article ul li:hover {
          background: #006f37; }
        header article ul li:last-child {
          margin-left: 20px; }
        header article ul li:last-child:before {
          content: "";
          position: absolute;
          width: 22px;
          height: 22px;
          background: url("../images/fb.png");
          top: 17px;
          margin-left: 5px; }
        header article ul li:last-child:hover {
          background: #003c52; }
        header article ul li a {
          line-height: 55px;
          padding: 17px 15px;
          color: white; }
        header article ul li .fb {
          padding: 17px 5px 17px 30px; }

main {
  position: relative;
  width: 100%;
  height: auto; }
  main .single-item {
    margin-bottom: 0px !important; }
    main .single-item a {
      outline: none; }
      main .single-item a .img1 {
        position: relative;
        width: 100%;
        height: 0;
        background: url("../images/banner.png") no-repeat;
        background-size: contain;
        padding-top: 51.5%; }
      main .single-item a h1 {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        font-size: 75px;
        top: 120px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        letter-spacing: 10px;
        z-index: 1;
        color: white;
        text-shadow: 0px 0px 10px gray; }
      main .single-item a p {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        font-size: 26px;
        top: 200px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        color: white; }
    main .single-item .slick-dots {
      width: 50px;
      right: 0px;
      top: 43%; }
    main .single-item .slick-dots li button:before {
      width: 21px;
      color: #005b2a;
      opacity: 1; }
    main .single-item .slick-dots li.slick-active button:before {
      background: url("../images/banneric.png");
      color: transparent;
      background-size: cover;
      width: 22px; }
  main .list {
    width: 100%;
    height: 500px;
    background: #eeeeee;
    position: relative; }
    main .list article {
      max-width: 1120px;
      height: 400px;
      margin: 0px auto; }
      main .list article section {
        width: 320px;
        height: 240px;
        float: left;
        margin: 80px 80px 40px 0px;
        opacity: 0;
        -webkit-box-shadow: 0px 0px 10px gray;
        box-shadow: 0px 0px 10px gray; }
        main .list article section div {
          width: 180px;
          height: 80px;
          background: white;
          margin: -40px auto 0px;
          text-align: center;
          opacity: 0; }
          main .list article section div p {
            text-decoration: underline;
            font-size: 12px;
            color: #59493f;
            line-height: 40px; }
          main .list article section div h2 {
            font-size: 23px;
            color: #59493f; }
      main .list article section:nth-child(1) {
        background: url("../images/img_1.png") no-repeat;
        background-size: cover; }
      main .list article section:nth-child(2) {
        background: url("../images/img_2.png") no-repeat;
        background-size: cover;
        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s; }
      main .list article section:nth-child(3) {
        background: url("../images/img_3.png") no-repeat;
        background-size: cover;
        margin-right: 0px;
        -webkit-animation-duration: 1.8s;
        animation-duration: 1.8s; }
      main .list article button {
        display: block;
        width: 250px;
        height: 50px;
        font-size: 20px;
        color: white;
        background: #ee5206;
        outline: none;
        border: none;
        margin: 0px auto;
        cursor: pointer;
        opacity: 0; }
        main .list article button:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
      main .list article .slide1 {
        opacity: 1;
        -webkit-animation: slide1 0.8s ease-out;
        animation: slide1 0.8s ease-out; }
      main .list article .slide2 {
        opacity: 1;
        -webkit-animation: slide2 1.5s ease-out;
        animation: slide2 1.5s ease-out; }
      main .list article .slide3 {
        opacity: 1;
        -webkit-animation: slide3 1.8s ease-out;
        animation: slide3 1.8s ease-out; }
    main .list .listbg1 {
      width: 190px;
      height: 230px;
      background: url("../images/float_1.png");
      background-size: cover;
      position: absolute;
      top: 25px;
      right: 100px; }
    main .list .listbg2 {
      width: 191px;
      height: 202px;
      background: url("../images/float_2.png");
      background-size: cover;
      position: absolute;
      bottom: 25px;
      left: 125px; }
  main .about {
    width: 100%;
    height: 800px;
    background: url("../images/aboutbg.png"); }
    main .about .text {
      width: 430px;
      height: 450px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
      margin: 0px auto;
      -webkit-transform: translateY(40%);
      -ms-transform: translateY(40%);
      transform: translateY(40%); }
      main .about .text::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 1px;
        border-top: #c18b4f;
        border-style: solid;
        border-width: 5px 0px 0px 0px;
        margin: 30px 0px 0px 30px; }

@-webkit-keyframes slide1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(0.9);
    transform: rotate(-10deg) scaleX(0.9); } }

@keyframes slide1 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  50% {
    -webkit-transform: rotate(-10deg) scaleX(0.9);
    transform: rotate(-10deg) scaleX(0.9); } }

@-webkit-keyframes slide2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@keyframes slide2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); } }

@-webkit-keyframes slide3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  80% {
    opacity: 0;
    -webkit-transform: translateY(-100%) scaleX(0.5);
    transform: translateY(-100%) scaleX(0.5); } }

@keyframes slide3 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  80% {
    opacity: 0;
    -webkit-transform: translateY(-100%) scaleX(0.5);
    transform: translateY(-100%) scaleX(0.5); } }
